/* Global styles */

:root {
  --light-gray: rgb(235, 235, 235);
  --medium-gray: gray;
  --dark-gray: rgb(220, 220, 220);

  --dark: #222;
  --white: #fff;
  --pink: rgb(239, 74, 141);

  --button-border-color: var(--medium-gray);
  --border-radius-m: 0.25rem;
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  :root {
    font-size: 16px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  padding: 0.75em 1em;
  border-radius: var(--border-radius-m);
  line-height: 1;
  background-color: transparent;
  border: 1px solid var(--button-border-color);
}

button svg {
  display: block;
}

button:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

button:focus {
  outline-color: var(--pink);
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

.shopping-cart-is-open {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
}
